body {
    font-family: Arial, Helvetica, sans-serif;
}

.mod {
    background-color: #f0f0f0;
    margin: 15px 15px 18px 15px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px;
    border: 0;
    border-radius: 3px;
    background-image: none;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1.428571429;
    vertical-align: middle;
    cursor: pointer;
}

.btn-info {
    color: #fff;
    background-color: #2196F3;
}

.btn-danger {
    color: #fff;
    background-color: #F44336;
}

.user {
    font-weight: bold;
    padding: 0 5px;
}

h1 {
    color: #006bb5;
    font-weight: bold;
    font-size: 18px;
}

.main {
    width: 95%;
    margin: 0 auto;
}

.left {
    float: left;
    width: 80%;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.right {
    float: right;
    width: 15%;
    min-height: 300px;
    max-height: 500px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    overflow: auto;
}

.chat {
    position: relative;
    height: 300px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.edit {
    padding: 5px;
    border-top: 1px solid #000;
}

.edit textarea {
    width: 90%;
    vertical-align: bottom;
}